{% extends "base.html" %}


{%- block site_name %}
<a class="navbar-brand" href="/"><img src="/images/systemc.png" alt="Logo" style="width:140px;"></a>
{%- endblock %}


{% block htmltitle %}
<title>systemc.org</title>
{% endblock %}


{% block content %}
<div class="col-md-12" role="main">
  <h1 id="404-page-not-found" style="text-align: center; margin-top: 30px;">404</h1>
  <p style="text-align: center"><strong>{% trans %}Page not found{% endtrans %}</strong></p>
</div>
{% endblock %}


{%- block next_prev %}
{%- endblock %}


{%- block footer %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: left;">Copyright &copy; 2021 <a href="https://accellera.org/" target="_blank">Accellera Systems Initiative</a></div>
        <div class="col-md-6" style="text-align: right;"><a href="/privacy/">Privacy Policy</a></div>
    </div>
</div>
{%- endblock %}


{%- block repo %}
    <li class="nav-item">
        <a href="{{ config.repo_url }}" class="nav-link">
            {%- if config.repo_name == 'GitHub' -%}
                <i class="fa fa-github"></i> {{ config.repo_name }}
            {%- elif config.repo_name == 'Bitbucket' -%}
                <i class="fa fa-bitbucket"></i> {{ config.repo_name }}
            {%- elif config.repo_name == 'GitLab' -%}
                <i class="fa fa-gitlab"></i> {{ config.repo_name }}
            {%- else -%}
            {{ config.repo_name }}
            {%- endif -%}
        </a>
    </li>
{%- endblock %}