{% extends "base.html" %}


{%- block site_name %}
<a class="navbar-brand" href="/"><img src="/images/systemc.png" alt="Logo" style="width:140px;"></a>
{%- endblock %}


{% block htmltitle %}
<title>systemc.org</title>
{% endblock %}


{%- block content %}
{% if not page.meta.toc %}
<div class="col-md-9" role="main">{% include "content.html" %}</div>
<div class="col-md-3">{% include "toc.html" %}</div>
{% else %}
<div class="col-md-12" role="main">{% include "content.html" %}</div>
{% endif %}
{%- endblock %}


{%- block next_prev %}
{%- endblock %}


{%- block footer %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="text-align: left;">&copy; <a href="https://accellera.org/" target="_blank">Accellera Systems Initiative</a></div>
        <div class="col-md-4" style="text-align: center;"><a href="https://github.com/accellera-official/systemc.org" target="_blank">Contribute</a></div>
        <div class="col-md-4" style="text-align: right;">
            <a href="/privacy/">Privacy Policy</a>
        </div>
    </div>
</div>
{%- endblock %}


{%- block repo %}
    <li class="nav-item">
        <a href="{{ config.repo_url }}" class="nav-link">
            {%- if config.repo_name == 'GitHub' -%}
                <i class="fa-brands fa-github"></i> {{ config.repo_name }}
            {%- elif config.repo_name == 'Bitbucket' -%}
                <i class="fa-brands fa-bitbucket"></i> {{ config.repo_name }}
            {%- elif config.repo_name == 'GitLab' -%}
                <i class="fa-brands fa-gitlab"></i> {{ config.repo_name }}
            {%- else -%}
            {{ config.repo_name }}
            {%- endif -%}
        </a>
    </li>
{%- endblock %}