h1{
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.bg-light {
  background-color: #ffffff !important;
  background-image: none !important;
}

.navbar {
  border-bottom-color: #b2b2b2;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

body::before {
  background-image: none !important;    
}

.col-md-9 img {
  border: none !important;
  padding: 0px;
}

.bg-secondary {
  background-color: #fcfcfc !important;   
}

.navlink  {
        font-weight: normal;     
}

.bs-sidebar .nav .nav > li > a {
   color: #616161;
   font-weight: normal;
}

.bs-sidebar .nav .nav > li > a:hover {
  color: black;
  font-weight: normal;
}
      
.bs-sidebar .nav > li > a.active {
  color: black;
  font-weight: normal;
}

a.nav-link {
   color: #464646;
   font-weight: normal;
}

a.nav-link:active {
  color: black;
  font-weight: normal;
}

a.nav-link:hover {
  color: #464646;
  font-weight: normal;
}

a.dropdown-item:hover {
  color:black;
  background-color: #d5c300 !important;   
}

.hero {
  height: 620px;
}

.hero h1 {
  font-size: 40px;
  font-weight: 600;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
}

.carousel-indicators .active
{
  background-color: #1c87c5;
}

.carousel-indicators li
{
  background-color: #e2e0e0;
}
